@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      box-shadow: none !important;
      outline: 0px !important;
}

a {
      text-decoration: none !important;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      outline: 0px;
}
  
html {
      position: relative;
      overflow-x: hidden;
}
  
body {
      position: relative;
      background-color: #f6f2ef;
      overflow-x: hidden;
}

main,
header,
footer,
section {
      width: 100%;
      float: left;
      position: relative;
}